attr==0.3.2
ConfigParser==7.2.0
cryptography==46.0.7
customtkinter==5.2.2
docutils==0.22.4
docx==0.2.4
edge_tts==7.2.8
filelock==3.29.0
HTMLParser==0.0.2
ipython==9.12.0
ipywidgets==8.1.8
jnius==1.1.0
keyring==25.7.0
piper==0.15.1
protobuf==7.34.1
pygame==2.6.1
pyOpenSSL==26.0.0
redis==7.4.0
Sphinx==9.1.0
thread==2.0.6
typing_extensions==4.15.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
